button {
    background-color: blue;
    padding: 20px 30px;
    border: 20px;
    color: aliceblue;
    


}

.flex{
    background-color: beige;
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

